body {
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
.buttonstyles {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
ul {
  list-style: none;
}